<div class="row" *ngIf="pokemon">
  <div class="col s12 m8 offset-m2">
    <h2 class="header center">{{ pokemon.name }}</h2>
    <div class="card horizontal hoverable">
      <div class="card-image">
        <img [src]="pokemon.picture" alt="{{ pokemon.name }}">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <table class="bordered striped">
            <tbody class="striped">
            <tr>
              <td>Nom</td>
              <td>
                <strong>{{ pokemon.name }}</strong>
              </td>
            </tr>
            <tr>
              <td>points de vie</td>
              <td>
                <strong>{{ pokemon.hp }}</strong>
              </td>
            </tr>
            <tr>
              <td>Dégats</td>
              <td>
                <strong>{{ pokemon.cp }}</strong>
              </td>
            </tr>
            <tr>
              <td>types</td>
              <td>
                <span *ngFor="let type of pokemon.types" class="{{ type | pokemonTypeColor }}">{{ type }}</span>
              </td>
            </tr>
            <tr>
              <td>Date de création</td>
              <td>
                <strong>{{ pokemon.created | date: "M/d/yy" }}</strong>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

        <div class="card-action col">
          <a (click)="goBack()" class="was-effect waves-light btn">Retour</a>
          <a (click)="goEdit(pokemon)" class="was-effect waves-light btn">Editer</a>
          <a (click)="delete(pokemon)" class="was-effect waves-light btn" >Supprimer</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<h4 class="center" *ngIf="!pokemon">Aucun pokemon à afficher</h4> -->
<h4 *ngIf="pokemon" class="center">
  <app-loader></app-loader>
</h4>
